* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    text-align: center;

}

nav {
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

    top: 50px;
    left: 20;
    width: 100%;
    z-index: 1;
}

ul {
    list-style: none;
    display: flex;

    margin: 10;

    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #777;
}

main {
    background-color: #ebebeb;
    margin-top: 200px;
    padding: 10px;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 2%;
}

.mainText {
    max-width: 900px;
    margin: auto;
    font-family: Arial, sans-serif;
    /* выбор шрифта */
    font-size: 18px;
    /* размер шрифта */
    line-height: 1.5;
    /* интерлиньяж (межстрочный интервал) */
    color: #333;
    /* цвет текста */
    text-align: justify;

}

.halfsideText {
    max-width: 900px;
    margin: auto;
    font-family: Arial, sans-serif;
    /* выбор шрифта */
    font-size: 18px;
    /* размер шрифта */
    line-height: 1.5;
    /* интерлиньяж (межстрочный интервал) */
    color: #333;
    /* цвет текста */
    text-align: justify;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-align: center;

}

a {
    color: #0066cc;
    /* цвет ссылок */
    text-decoration: none;
    /* отмена подчеркивания для ссылок */
}

a:hover {
    text-decoration: underline;
    /* подчеркивание ссылок при наведении */
}

footer {
    background-color: #555;
    color: #fff;
    font-size: 14px;
    /* color: gray; */
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}